<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Courses</h1>
        {{!-- <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
            </div>
            <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
            </button>
        </div> --}}
    </div>

    <form id="delForm" action="/admin/courses/del" method="POST">
        <input id="txtCourseID" type="hidden" value="" name="courseID">
    </form>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Course</th>
                <th scope="col">Instructors</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <td>{{name}}</td>
                <td>{{teacher.fullname}}</td>
                <td><a class="btn btn-success" href="#">Detail</a></td>
                <td><a data-id="{{_id}}" class="btn btn-danger btnDel" href="#">Delete</a></td>
            </tr>
            {{/each}}

        </tbody>
    </table>


</main>

{{#section 'js'}}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
    $('.btnDel').on('click', function () {
        $('#txtCourseID').val($(this).data('id'));
        $('#delForm').submit();
    })

    $('#delForm').on('submit', function (e) {
        e.preventDefault();
        Swal.fire({
            title: 'Are you sure to delete this course?',
            showDenyButton: true,
            confirmButtonText: `Confirm`,
            denyButtonText: `No`,
        }).then((result) => {
            /* Read more about isConfirmed, isDenied below */
            if (result.isConfirmed) {
                $('#delForm').off('submit').submit();
            } else if (result.isDenied) {
                Swal.fire('Cancel!', '', 'info')
            }
        })
    })
</script>
{{/section}}