<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Students</h1>
        {{!-- <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
            </div>
            <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
            </button>
        </div> --}}
    </div>
    
    <table class="table" style="width:100%">
        <tr>
            <th>Username</th>
            <th>Fullname</th>
            <th>Email</th>
            <th></th>
        </tr>
        {{#each studentList}}
        <tr>
            <td>{{namelogin}}</td>
            <td>{{fullname}}</td>
            <td>{{email}}</td>
            <td>
                <form action="/admin/students/del" method="POST">
                    <input type="hidden" value="{{_id}}" name="studentId">
                    <button class="btn btn-danger" type="submit">Delete</button>
                </form>
            </td>
        </tr>
        {{/each}}
    </table>
</main>