{{#section 'css'}}
<link rel="stylesheet" type="text/css" href="/public/static/css/home/home.css">
<link rel="stylesheet" href="/public/static/css/home/categoryCarousel.css">
<link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&display=swap" rel="stylesheet">
<link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/carousel/">
<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
</style>
{{/section}}

{{#section 'js'}}
<script type="text/javascript" src="/public/static/js/home/categoryCarousel.js"></script>
{{/section}}

<main>
  {{>homePartials/headerSlider}}
  <div class="container-fluid">
    {{>homePartials/marketingCourses}}

    <hr class="featurette-divider">

    <h2>New courses</h2>
    {{>homePartials/categoryCarousel}}

    <hr class="featurette-divider">

    {{>homePartials/allCategories}}

    <hr class="featurette-divider">
  </div>
</main>