.cart-title {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: bold;
}

.cart-quantity {
    text-transform: lowercase;
}

.course-thumbnail {
    width: 190px;
    margin: auto 0;
}

.empty-cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.empty-cart__icon {
    padding: 2rem;
}

.empty-cart__icon i {
    font-size: 10rem;
}

.empty-cart__button {
    width: 205px;
    text-align: center;
}

.cart-container {
    min-height: 100vh;
}

.remove-button__submit {
    background-color: white;
    border: 0;
    color: #007791;
    margin: 1rem;
}

.course-price {
    margin: 1rem;
}

.course-price__sale-price {
    font-weight: bold;
    color: #dc3545;
}

.cart-checkout__sale-price {
    font-weight: bold;
}

.checkout-button {
    text-transform: uppercase;
    font-weight: bold;
}

.course-price__total-price,
.cart-checkout__total-price {
    color: #686f7a;
}
