body{
    font-family: "Poppins", sans-serif;
}

.category-container {
    min-height: 100vh;
}

.empty-category {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    margin: 0 auto;
}

.empty-category a {
    width: 150px;
}

.card {
    height: fit-content;
}

.card-image {
    height: 150px;
}

.card-image img {
    height: 100%;
    width: 100%;
}

.card__title p {
    font-weight: bold;
}

.card__teacher p {
    font-size: 13px;
    color: #73726c;
    margin: 0;
}

.card__category p {
    font-size: 15px;
    color: #73726c;
    margin: 0;
}

.card__discount {
    font-weight: bold;
}

.category-title {
    font-weight: bold;
    font-size: 2rem;
}

.heading-secondary {
    font-size: 34px;
    text-transform: uppercase;
    font-weight: 600;
    display: inline-block;
    letter-spacing: 7px;
    cursor: pointer;
    background-image: linear-gradient(to right, #8e9efc, #1c3eff);
    color: transparent;
    -webkit-background-clip: text;
    transition: all 0.2s;
}

.heading-secondary:hover {
    transform: skewY(5deg) scale(1.1);
    text-shadow: 6px 10px 5px rgba(0, 0, 0, 0.2);
}

.u-center-text {
    text-align: center !important;
}

.u-margin-bottom-big {
    margin-bottom: 8rem !important;
}

.u-margin-bottom-small {
    margin-bottom: 1.5rem !important;
}

.course-tag {
    position: absolute;
    bottom: 1rem;
    left: 0.5rem;
}

.new-course-tag {
    border-radius: 4px;
    font-size: 0.75rem;
    font-weight: bold;
    color: #593d00;
    background-color: #ffe799;
    padding: 0.25rem 0.5rem;
    margin-bottom: 0.2rem;
    text-align: center;
    width: fit-content;
}

.hot-course-tag {
    position: absolute;
    font-size: 0.7rem;
    top: 0.3rem;
    right: 0.3rem;
    width: 3.5rem;
    background-color: rgb(240, 48, 48);
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 0.1rem 0.3rem;
    font-weight: bold;
}

.card-button {
    height: 5rem;
    align-items: flex-end;
}

.custom-btn {
    height: fit-content;
}
