.category-container {
    min-height: 100vh;
}

.empty-category {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    margin: 0 auto;
}

.empty-category a {
    width: 150px;
}

.card {
    height: 23rem;
}

.card-image {
    height: 150px;
}

.card-image img {
    height: 100%;
    width: 100%;
}

.card__title p {
    font-weight: bold;
}

.card__teacher p {
    font-size: 13px;
    color: #73726c;
    margin: 0;
}

.card__category p {
    font-size: 15px;
    color: #73726c;
    margin: 0;
}

.card__discount {
    font-weight: bold;
}

.category-title {
    font-weight: bold;
    font-size: 2rem;
}
