<div class="all-categories-container container-fluid ms-3">
    <h2>All Categories</h2>
    <div class="row row-cols-1 row-cols-md-2">
        {{#each allCategories}}
        <div class="col mb-4">
            <div class="card">
                <div class="category-card-image">
                    {{!-- <img src="..." class="card-img-top" alt="..."> --}}
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{name}}</h5>
                    <p class="card-text">{{description}}</p>
                </div>
            </div>
        </div>
        {{/each}}

    </div>
</div>