<div class="category-carousel">
    <div class="carousel-container">
        <div class="carousel-inner">
            <div class="track">
                {{#each tenNewestCourses}}
                <div class="card-container">
                    <div class="card">
                        <div class="img">Images</div>
                        <div class="info">
                            {{name}}
                        </div>
                    </div>
                </div>
                {{/each}}


            </div>
        </div>
        <div class="nav">
            <button class="prev">
                <i class="fa fa-arrow-circle-left " aria-hidden="true"></i>
            </button>
            <button class="next">
                <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</div>