<h1>Profile</h1>

{{#if isAuth}}
  <p>
    hello, {{authUser.fullname}}
  </p>
  <form id="frmLogout" method="POST" action="/account/logout"></form>
  <a class="btn btn-danger" href="javascript: $('#frmLogout').submit();">Logout</a>
{{else}}
  <a class="btn btn-primary" href="/account/login">Sign In</a>
{{/if}}