{{!-- <footer class="container">
    <p class="float-end"><a href="#">Back to top</a></p>
    <p>&copy; 2020 &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
</footer> --}}

<div class="footer" style="z-index: 2000; margin-top: 20px;">
  <footer><p>Copyright &copy; 2020 by ClassPin</p></footer>
</div>